<!--no mat yet-->
<div class="userTable">
    <h3>List of useers</h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Birthdate</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Adress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.birthdate }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.adresse }}</td>

          <td><button mat-button (click)="deleteUser(user.id)"> Delete </button></td>
          <td><button mat-button > Edit </button></td>
          <!-- <td><button mat-button (click)="editUser(user)">Edit</button></td> -->
         
        </tr>
      </tbody>
    </table>

  </div>  
 