<div class="formulaire">
    <form [formGroup]="userForm" (ngSubmit)="AddUser()" class="addUserForm">
        <mat-form-field appearance="fill"> <mat-label>Name</mat-label> <input matInput formControlName="name"></mat-form-field>
        <mat-form-field appearance="fill"> <mat-label>Surame</mat-label> <input matInput formControlName="surname"></mat-form-field>
        <mat-form-field appearance="fill"> <mat-label>birthdate</mat-label> <input matInput formControlName="birthdate"></mat-form-field>
        <mat-form-field appearance="fill"> <mat-label>email</mat-label> <input matInput formControlName="email"></mat-form-field>
        <mat-form-field appearance="fill"> <mat-label>phone</mat-label> <input matInput formControlName="phone"></mat-form-field>
        <mat-form-field appearance="fill"> <mat-label>adresse</mat-label> <input matInput formControlName="adresse"></mat-form-field>

        <button mat-raised-button type="submit">Add user</button>

        
    </form>
</div>
